* {
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  line-height: 1.6;
  color: #000;
  background: #f7f5f0;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: flex;
  margin: auto;
}

h3 {
  text-align: center;
}

/* header {
  background-size: cover;
  overflow: hidden;
  padding-top: 40px;
} */

.city {

}

/* solid border */
hr.solid {
  border-top: 1px solid #000;
  width: 80%;
}


.citylimit {
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-weight: lighter;
}

.flex {
  margin: 45px auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.col {
  margin: 70px 90px;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border-top: 4px solid orange;
  border-radius: 2px;
  flex-grow: 1;
  flex-basis: 200px;
}

footer {
  width: 100%;
  min-height: 20px;
  font-size: .75em;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
  position: sticky;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}


@media screen and (min-width: 200px) and (max-width: 600px) {

    .col {
      margin: 5px;
      padding: 20px;
    }

  }
